In [1]:
# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [7]:
# create engine
engine = create_engine('mysql+pymysql://root:@localhost:51211/test')

In [9]:
# connection string
conn = engine.connect()

In [10]:
# Question 1
# Was the average of global sales higher before or after 2005 ?

query1 = pd.read_sql('select avg(Global_sales) from videogamesales group by YEAR_OF_RELEASE < 2005', conn);
print(query1)

   avg(Global_sales)
0           0.484040
1           0.650039
2           0.367881

In [ ]:
# average for global sale before 2005 is 0.484040
# average for global sale after 2005 is 0.650039

In [17]:
# Question 2
# Create a new column that labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'

query2 = 'ALTER TABLE videogamesales ADD label_year VARCHAR(20)';
conn.execute(query2);

query3 = '''UPDATE videogamesales SET label_year = CASE 
                                                             WHEN YEAR_OF_RELEASE < 2005  THEN 'pre-2005' 
                                                             WHEN YEAR_OF_RELEASE >= 2005  THEN 'post-2005'
                                                             END'''
conn.execute(query3);

In [18]:
query4 = pd.read_sql('select label_year from videogamesales', conn);
print(query4)

      label_year
0      post-2005
1       pre-2005
2      post-2005
3      post-2005
4       pre-2005
...          ...
16714  post-2005
16715  post-2005
16716  post-2005
16717   pre-2005
16718  post-2005

[16719 rows x 1 columns]